body { margin: 0%;
    overflow-x: hidden;
    font-family: SFmedium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.menu { width: 100vw;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8); }

.orghome { width: 66vw;
    height: 100%;
    display: flex;
    padding-left: 16.3%;}

.linkmenu { margin: auto;
    text-decoration: none;
    color: rgb(192, 192, 192); 
    font-size: 14.45px;
    padding-bottom: 1.5px;
    padding-right: 14px;
    font-weight: 100;}

.apple { width: 25px;
    padding-top: 4px;
    fill: white;}

.submenu { background-color: rgba(223, 227, 235, 0.4);
    width: 100vw;
    height: 42px;
    margin-top: 2px;
    display: flex;}

.linksub { margin: auto;
    font-size: 14.33px;
    padding-bottom: 3px;
    padding-right: 15px;
    color: rgb(75, 75, 75);
    font-weight: lighter;}

a {text-decoration: none;
    color: rgb(56, 132, 231);}

.iphone12 {width: 100vw;
    height: 100vh;
    background-image: url(iphone_pro.jpg);
    background-position: center;
    background-size: 2260px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    padding-bottom: 1000px;}

.tit {font-size: 54.5px;
    padding-right: 20px;
    margin: 0px;
    font-weight: lighter;
    padding-top: 2.6rem;
    text-shadow: 1px 1.1px rgb(161, 161, 161);
    font-weight: 500;
    padding-bottom: 5px;}

.tit2 {font-size: 26.3px;
    margin: 0px;
    padding-right: 12px;
    padding-bottom: 20px;
    font-weight: 100;}

.tit3 {font-size: 20px;
    padding-right: 23px;
    font-weight: 100;}

.tit4 {margin-bottom: 10px;}

.tit5 {padding-bottom: 100px;}

@font-face {
    font-family: 'SFultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFthin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFlight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('sf-ui-display-light-58646b33e0551.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFmedium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('sf-ui-display-medium-58646be638f96.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFsemibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('sf-ui-display-semibold-58646eddcae92.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFbold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('sf-ui-display-bold-58646a511e3d9.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFheavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('sf-ui-display-heavy-586470160b9e5.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SFblack';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Black'), url('sf-ui-display-black-58646a6b80d5a.woff') format('woff');
    }