body {
    background-color: rgb(7, 10, 27);
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 44px;
}

.menu {
    width: 100%;
    height: 7rem;
    background-color: rgba(0, 6, 41, 0.5);
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0px;
    font-size: 50px;
}

a {
    text-decoration: none;
    margin: auto;
    color: rgb(39, 185, 161);
}

.catalogosite {
    width: 90vw;
    height: 480px;
    margin:auto;
    margin-top: 10rem;
    background-color: rgb(58, 170, 151);
    display: flex;
}

.site1 {
    background-image: url(../Img/eu1.jpg);
    background-size: cover;
    margin: auto;
    width: 30%;
    height: 80%;
}

.site2 {
    background-image: url(../Img/eu1.jpg);
    background-size: cover;
    margin: auto;
    width: 30%;
    height: 80%;
}

.site3 {
    background-image: url(../Img/eu1.jpg);
    background-size: cover;
    margin: auto;
    width: 30%;
    height: 80%;
}

.espaco {
    width: 100%;
    height: 10rem;
}

.catalogodesign {
    width: 90vw;
    height: 480px;
    margin:auto;
    margin-top: 10rem;
    background-color: rgb(58, 170, 151);
    display: flex;
}

.design1 {
    background-image: url(../Img/eu1.jpg);
    background-size: cover;
    margin: auto;
    width: 30%;
    height: 80%;
}

.design2 {
    background-image: url(../Img/eu1.jpg);
    background-size: cover;
    margin: auto;
    width: 30%;
    height: 80%;
}

.design3 {
    background-image: url(../Img/eu1.jpg);
    background-size: cover;
    margin: auto;
    width: 30%;
    height: 80%;
}

.rodape {
    width: 100%;
    height: 2.5rem;
    margin-top: 10rem;
    background-color: rgb(58, 170, 151);
    display: flex;
}

.ajuda {
    color: white;
    margin: auto;
}

.contato {
    color: white;
    margin: auto;
}

.contatoemail {
    color: white;
    margin: auto;
    font-size: 30px;
}